!!! XML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/reset-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/main.css", :type => 'text/css'}
  %body
    %div.container
      %div.head
        %a{:href => app_root}
          %h1= @title
      %div.main
        %div#page
          %ul
            %li
              url : 
              %a{:href => "#{@page.url}"} #{@page.url}
            %li
              title : #{@page.title}
            %li
              name : #{@page.name}
        %div#control
          %form{:method => 'GET', :action => "#{app_root}/#{@page.name}/delete"}
            %input{:type => 'submit', :value => 'delete'}
