!!! XML
%html
  %head
    %title= @title
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/fonts-3.1.1.css", :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => "#{app_root}/css/reset-3.1.1.css", :type => 'text/css'}
  %body
    %div.container
      %div.head
        %h1= @title
      %div.main
        %div#page
          %ul
            %li
              url : 
              %a{:href => "#{@page.url}"} #{@page.url}
            %li
              title : #{@page.title}
            %li
              name : #{@page.name}
